.top6 {
  margin-top: 6px;
}

.top10{
  margin-top:10px;
}

.top12 {
  margin-top: 12px;
}

.top24{
  margin-top: 24px;
}

.top36 {
  margin-top: 36px;
}

.top48 {
  margin-top: 48px;
}

.top60 {
  margin-top: 60px;
}

.bottom36 {
  margin-bottom: 36px;
}

.div01 {
  border:3px solid silver;
}

#ul_errors_message{

  background-color:red;
  padding-left:25px;
  padding-top:20px;
}
.current {
  background: gray;
}
#interval{

  padding:10px
}
#logo {
  width:150px;
  text-align: center;
}
.row1{
  text-align: center;
  margin-right: : 145px;
  padding-bottom: 50px;
}

font{
  text-align: center;
  display:block;margin:0 auto;width:500px;
  margin-top: 150px;
}

#div_register{

  border:1px solid silver;

}
.top5{
  display:block;width:600px;
  border:2px solid silver;
}
